{% extends 'backend/main.html' %}

{% block content %}
<h3 class="text-gray-700 text-3xl font-medium">Book A Trip</h3>

<p class="mt-8">
    Hey you can book via sms too
</p>
<div class="mt-8">

</div>

<div class="flex flex-col mt-8">
    <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
        <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
            <table class="min-w-full pb-10">
                <thead>
                    <tr>
                        <th
                            class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Bus Id</th>
                        <th
                            class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Driver Id</th>

                        <th
                            class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Starting Point</th>
                        <th
                            class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Destination</th>
                        <th
                            class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Departure DateTime</th>
                        <th
                            class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Travel Fare</th>

                        <th class="px-6 py-3 border-b border-gray-200 bg-gray-50"></th>
                    </tr>
                </thead>

                <tbody class="bg-white">


                    {% for trip in trips %}
                    <tr>
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                            {{trip.bus.id}}
                        </td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                            {{trip.driver.name}}
                        </td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                            {{trip.starting_point}}
                        </td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                            {{trip.destination}}
                        </td>

                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                            {{trip.departure_datetime}}
                        </td>

                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                            {{trip.travel_fare_amount}}
                        </td>

                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                            <a href="{% url 'trip_details' trip.id  %}"
                                class="inline-block rounded-md px-3 py-2  md:px-3 md:py-1 text-white text-sm bg-green-500 ">Book</a>
                        </td>

                    </tr>
                    {% endfor %}


                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}