{% load tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAMS</title>
    <meta name="author" content="David Grzyb">
    <meta name="description" content="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Alphine js -->
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <!-- Iodine js for validation -->
    <script src="https://cdn.jsdelivr.net/gh/mattkingshott/iodine/dist/iodine.min.js" defer></script>
    <!-- Tailwind -->
    {% tailwind_css %}
</head>

<body class="bg-gray-100 font-family-karla">

    <!-- main body -->


    <!-- component -->


    <div x-data="{ sidebarOpen: false }" class="flex h-screen bg-gray-200">
        {% include 'backend/components/sideNav.html' %}
        <div class="flex-1 flex flex-col overflow-hidden">
            {% include 'backend/components/header.html' %}
            <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
                <div class="container mx-auto px-6 py-8">
                    {%block content%}
                    {% endblock %}
                </div>
            </main>
        </div>
    </div>


    <!-- End of main body -->


</body>

</html>